@charset "utf-8";

//icones
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

div .is-rounded {
  border-radius: 50%;
}

.error-div {
  min-height: 2.5em;
  padding-bottom: 5px;
  padding-top: 5px;
}

.is-navbar {
  background-color: #c4bbff;
  position: relative;
  z-index: 30;
  display: flex;
}

.is-footer {
  background-color: #525254;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.8rem;
  padding: 0.5rem;
}

ul {
  list-style: disc inside;
  text-align: left;
}

td button.has-text-info {
  font-size: medium;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

td button.has-text-info:hover {
  text-decoration: underline;
}

td button.button {
  margin-top: 0;
  margin-bottom: 0;
}

td form {
  margin-bottom: 0;
}

.title-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.title-button:hover {
  color: blue;
  text-decoration: underline;
}

.title-button.is-1 {
  font-size: 3rem;
  font-weight: 700;
}

.title-button.is-2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.title-button.is-3 {
  font-size: 2rem;
  font-weight: 600;
}

.title-button.is-4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.title-button.is-5 {
  font-size: 1.25rem;
  font-weight: 400;
}

.title-button.is-6 {
  font-size: 1rem;
  font-weight: 400;
}

.title-button.is-7 {
  font-size: 0.75rem;
  font-weight: 300;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

.subtitle strong {
  color: #363636;
  font-weight: 600;
}

.subtitle.is-1 {
  font-size: 3rem;
}

.subtitle.is-2 {
  font-size: 2.5rem;
}

.subtitle.is-3 {
  font-size: 2rem;
}

.subtitle.is-4 {
  font-size: 1.5rem;
}

.subtitle.is-5 {
  font-size: 1.25rem;
}

.subtitle.is-6 {
  font-size: 1rem;
}

.subtitle.is-7 {
  font-size: 0.75rem;
}

.is-navbar form {
  margin-bottom: 0;
}

.min-height.is-1 {
  min-height: 10em;
}

.min-height.is-2 {
  min-height: 8em;
}

.min-height.is-3 {
  min-height: 6.5em;
}

.min-height.is-4 {
  min-height: 4.5em;
}

.min-height.is-5 {
  min-height: 2.5em;
}

.min-height.is-6 {
  min-height: 1.5em;
}

.min-height.is-7 {
  min-height: 0.75em;
}

.dotted.title-button {
  text-decoration: underline dotted;
}

.dotted.title-button:hover {
  color: blue;
  text-decoration-style: dotted;
}

div.card {
  border-width: 0px;
  border-radius: 30px;
  border-style: solid;
  box-shadow: -8px -8px 1em 0px rgb(227 218 226), 0px 0px 0 1px rgba(10,10,10,.02);
  background-color: rgb(254 243 255);
}

.mb-7 {
  margin-bottom: 7rem;
}