@charset "utf-8";

//icones
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");


div .is-rounded {
  border-radius: 50%;
}

.error-div {
  min-height: 2.5em;
  padding-bottom: 5px;
  padding-top: 5px;
}

@import "/WEB-INF/css/bulma/bulma.sass";
