@charset "utf-8";

//icones
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

div .is-rounded {
  border-radius: 50%;
}

.error-div {
  min-height: 2.5em;
  padding-bottom: 5px;
  padding-top: 5px;
}

.is-navbar {
  background-color: #c4bbff;
  position: relative;
  z-index: 30;
  display: flex;
}

.is-footer {
  background-color: #525254;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.8rem;
  padding: 0.5rem;
}

ul {
  list-style: disc inside;
  text-align: left;
}

td button.has-text-info {
  font-size: medium;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

td button.has-text-info:hover {
  text-decoration: underline;
}

td button.button {
  margin-top: 0;
  margin-bottom: 0;
}

td form {
  margin-bottom: 0;
}